.receta-container {
    margin-bottom: 20px;
  }
  
  .receta-container h2 {
    font-size: 20px;
    color: #333;
  }
  
  .receta-container img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .receta-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .receta-container li {
    margin-bottom: 5px;
  }
  
  .receta-container li img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
      